.Links{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}
.Links a{
    color:white;
    text-decoration:none ;
    padding:16px 10px ;
    height: 100%;
    border-bottom: 4px,solid,transparent;
    box-sizing: border-box;
    display: block;
}
.Links a:hover,
.Links a:active,
.Links a:active{
    background-color: #8f5c2c;
    border-bottom: 4px solid #40A4c8;
    color: white;
}


